.indemandly-username {  

  .cf-field__body{
    display: grid;
    grid-template-columns: 50% 120px;
    align-items: center;

    &:after {
      content: ".indemand.ly";
      background: #f4f4f4;
      padding: 3px 10px;
      min-height: 40px;
      border: 1px solid;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
      line-height: 2;
      text-align: center;

      @media (min-width: 783px) {
        font-size: 14px;
        padding: 0 8px;
        min-height: 30px;
      }
    }
  }

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
}