#indemandly-button {
  position: fixed;
  z-index: 99;
  right: 16pt;
  bottom: 15pt;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: var(--chat-button);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;

  &:focus {
    outline: none;
  }

  svg {
    width: 32px;
    height: 32px;
    stroke: #fff;
  }
}