#messenger-button {
  position: fixed;
  z-index: 99;
  right: 18pt;
  bottom: 18pt;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:focus {
    outline: none;
  }

  svg {
    width: 60px;
    height: 60px;
    fill: #fff;
  }
}